
@{
    ViewBag.Title = "Profile";
}
@using CFlow.Models

<style>
    .profile-detail p {
        margin:2px 5px;
        font-size:14px;
    }
    .detail-header {
        display: flex;
        flex-direction: row;
        justify-content: space-around
    }
</style>

<div class="profile-detail">
    <h3>Full Name</h3>
    <p>total Question</p>
    <p>total answer</p>
</div>
<div class="all-ativitices">
    <div class="detail-header">
        <div class="question">
            Question
        </div>
        <div class="answer">
            Answer
        </div>
    </div>
</div>
